.header-block {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(141,151,160,.36863);
}

.App {
  width: 77.5rem;
  --c-primary: #7f28c4;
  --c-light: #f1f2f3;
  --font-size--sm: 0.875rem;
  --font-weight--medium: 500;
  --c-avon-secondary: red;
  --search-bar-button-right: 10px;
  --font-family: "Montserrat", sans-serif;
  --c-background-one: #fff;
  --c-background-two: rgb(241, 241, 241);
  --c-color-one: rgb(49, 49, 49);
  --c-color-two: #000;
  --c-color-three: #fff;
  --image-width: 100%;
  --image-height: 664px;
  --text-primary: #546264;
  --text-secondary: #999;
  --font-family--secondary: "Montserrat", sans-serif;
  --font-family--tertiary: "Montserrat-Bold";
  --c-white: #fff;
  --c-text: #1d1f22;
  --spacer-sm: 1.625rem;
  --spacer-xs: 1.4rem;
}
