.button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding, var(--spacer-sm));
  color: var(--button-color, var(--c-white));
  background: var(--button-background, var(--c-primary));
  transition: background .8s;
  background-position: 50%;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  white-space: nowrap;
  border-width: 0;
}

.button-text {
  --button-border-width: 0;
  --button-padding: 0;
  --button-background: transparent;
  --button-color: var(--c-text);
  --button-text-transform: none;
  --button-text-decoration: underline;
  --button-font-size: var(--font-size--sm);
  --button-font-weight: var(--font-weight--medium);
  --button-box-shadow: none;
  display: inline;
}

.button-topbar {
  --button-border-width: 0;
  --button-padding: 0;
  --button-background: transparent;
  --button-color: var(--c-text);
  --button-text-transform: none;
  --button-text-decoration: underline;
  --button-font-size: var(--font-size--sm);
  --button-font-weight: var(--font-weight--medium);
  --button-box-shadow: none;
  padding: 0 10px;
  font-size: .7em;
  text-decoration: none;
  display: inline;
}

.wishlistHeader {
  --button-border-width: 0;
  --button-padding: 0;
  --button-background: transparent;
  --button-color: var(--c-text);
  --button-text-transform: none;
  --button-text-decoration: underline;
  --button-font-size: var(--font-size--sm);
  --button-font-weight: var(--font-weight--medium);
  --button-box-shadow: none;
  display: flex;
  position: absolute;
  font-size: 11px;
  font-weight: 100;
  color: var(--text-secondary);
  font-family: var(--font-family);
  right: 0;
  text-transform: uppercase;
  z-index: 1
}

.searchBar__button {
  --button-border-width: 0;
  --button-padding: 0;
  --button-background: transparent;
  --button-color: var(--c-text);
  --button-text-transform: none;
  --button-text-decoration: underline;
  --button-font-size: var(--font-size--sm);
  --button-font-weight: var(--font-weight--medium);
  --button-box-shadow: none;
  top: .4em;
  display: inline;
  position: absolute;
  bottom: var(--spacer-xs);
  right: .4em
}


